FindRelated/bin/
FindRelated/obj/
PubMed/bin/
PubMed/obj/
PublicationHarvester/bin/
PublicationHarvester/obj/
SCGen/bin/
SCGen/obj/
SocialNetworking/bin/
SocialNetworking/obj/
ExportRdf/bin/
ExportRdf/obj/
ExportRdfTests/bin/
ExportRdfTests/obj/
packages/
.vs/
*.user
PackageDistribution/Distribution/
