FindRelated/bin/
FindRelated/obj/
PubMed/bin/
PubMed/obj/
PublicationHarvester/bin/
PublicationHarvester/obj/
SCGen/bin/
SCGen/obj/
SCGenTests/bin/
SCGenTests/obj/
SocialNetworking/bin/
SocialNetworking/obj/
SocialNetworkingTests/bin/
SocialNetworkingTests/obj/
ExportRdf/bin/
ExportRdf/obj/
ExportRdfTests/bin/
ExportRdfTests/obj/
.vs/
*.user
Distribution/

